In [1]:
pip install lxml html5lib beautifulsoup4

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/c9/a0/67f5435f19d0817bdc313782a5aa8442984cf49acc126697c8036ac25299/lxml-4.6.2-cp37-cp37m-win_amd64.whl (3.5MB)
Collecting html5lib
  Downloading https://files.pythonhosted.org/packages/6c/dd/a834df6482147d48e225a49515aabc28974ad5a4ca3215c18a882565b028/html5lib-1.1-py2.py3-none-any.whl (112kB)
Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/d1/41/e6495bd7d3781cee623ce23ea6ac73282a373088fcd0ddc809a047b18eae/beautifulsoup4-4.9.3-py3-none-any.whl (115kB)
Requirement already satisfied: webencodings in c:\users\lzhomartova\appdata\local\programs\python\python37\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\lzhomartova\appdata\local\programs\python\python37\lib\site-packages (from html5lib) (1.15.0)
Collecting soupsieve>1.2; python_version >= "3.0" (from beautifulsoup4)
  Downloading https://files.pythonhosted.org/packages/41/e7/3617a4b988ed7744743fb0dbba5aa0a6e3f95a9557b43f8c4740d296b48a/soupsieve-2.2-py3-none-any.whl
Installing collected packages: lxml, html5lib, soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.9.3 html5lib-1.1 lxml-4.6.2 soupsieve-2.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 21.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [13]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))

In [15]:
df[0]

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [16]:
df2 = df[['Postal Code','Borough','Neighbourhood']]

TypeError: list indices must be integers or slices, not list

In [44]:
df_final = df[0][df[0].Borough != 'Not assigned']
df_final

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [79]:
df_final.groupby('Postal Code')
df_final.sort_values(by=['Postal Code'])

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [67]:
df1.shape

(103, 3)

In [70]:
import pandas as pd
import io
import requests
url="https://cocl.us/Geospatial_data"
s=requests.get(url).content
df_geo=pd.read_csv(io.StringIO(s.decode('utf-8')))
df=df_geo.sort_values(by=['Postal Code'])
df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [69]:
df.shape

(103, 3)

In [80]:
pd.concat((df1, df))

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
9,M1B,Scarborough,"Malvern, Rouge",NaN,NaN
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",NaN,NaN
27,M1E,Scarborough,"Guildwood, Morningside, West Hill",NaN,NaN
36,M1G,Scarborough,Woburn,NaN,NaN
45,M1H,Scarborough,Cedarbrae,NaN,NaN
...,...,...,...,...,...
98,M9N,NaN,NaN,43.706876,-79.518188
99,M9P,NaN,NaN,43.696319,-79.532242
100,M9R,NaN,NaN,43.688905,-79.554724
101,M9V,NaN,NaN,43.739416,-79.588437
102,M9W,NaN,NaN,43.706748,-79.594054